/* Taustatyylit */



/* FONTIT, TEKSTIKOOT, yms. */

@font-face {
    font-family: otsikot;
    src: url(ArchitectsDaughter-Regular.ttf);
}
@font-face {
    font-family: leipäteksti;
    src: url(static/Montserrat-Regular.ttf);
}

body {
    font-family: leipäteksti, sans-serif;
    font-size: 18px;
    margin: 0px;
    color: #262626;
    background: #F5F5EF;
}

h1 {
    font-family: otsikot, sans-serif;
    font-size: 70px;
    padding-bottom: 10px;
    margin: 0px;
}

h1 a {
    color: #262626;
    text-decoration: none;
}

h2 {
    font-family: 'otsikot', sans-serif;
    font-size: 25px;
}

.luelisaa {
    color: #76991F;
    font-weight: bold;
    text-decoration: none;
    background: #B5C1AD;
    display: inline-block;
    padding: 8px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 10px;

    
}

.luelisaa:hover {
    opacity: 50%;
}


/* HEADER ja NAV BAR*/

header {
    text-align: center;
    padding-top: 15px;
}
    

nav {
    background: #B5C1AD;
    display: flex;
    justify-content: center;
    
}

nav a {
    background: #B5C1AD;
    font-family: otsikot, sans-serif;
    font-size: 25px;
    color: #262626;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    padding-top: 2px;
    
}

nav a:hover {
    background: #F5F5EF;
   

}

#valittu:hover {
    color: #262626;
}

#valittu {
    color: #F5F5EF; 
     
}

/* KUVAT */

figure {
    margin: 0px;
    
}

/* GRID - PÄÄSIVU */

.grid-teksti1 { 
    grid-area: g1;
    padding: 25px;
    text-align: center;
    display:inline-block;
    width:70%;
    margin:5% auto;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    line-height:1.5em;
    background:#F5F5EF;
    border:solid 2px #262626;
}

.grid-teksti2 { 
    grid-area: g2;
    padding: 25px;
    text-align: center;
    display:inline-block;
    width:70%;
    margin:5% auto;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    line-height:1.5em;
    background:#F5F5EF;
    border:solid 2px #262626;
}

.grid-kuva1 { grid-area: g3; }
.grid-kuva2 { grid-area: g4; }

.grid-container {
    display: grid;
    column-gap: 0px;
    row-gap: 0px;
    padding: 0px;
}


.paateksti {
    margin-bottom: 0px;
    line-height: 2;
}

/* GRID - PALVELUTSIVU */

.grid-contpalvelu {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}

.grid-palvelukuva1 { grid-area: gp1; }
.grid-palvelukuva2 { grid-area: gp2; }
.grid-palvelukuva3 { grid-area: gp3; }
.grid-palvelukuva4 { grid-area: gp4; }

.grid-palveluteksti1 {
    grid-area: gp5;
    padding: 25px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    line-height:1.5em;
    background:#F5F5EF;
    border:solid 2px #262626;

}

.grid-palveluteksti2 {
    grid-area: gp6;
    padding: 25px;
    text-align: left;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    line-height:1.5em;
    background:#F5F5EF;
    border:solid 2px #262626;
}

.grid-palveluteksti3 {
    grid-area: gp7;
    padding: 25px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    line-height:1.5em;
    background:#F5F5EF;
    border:solid 2px #262626;
}

.grid-palveluteksti4 {
    grid-area: gp8;
    padding: 25px;
    text-align: left;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    line-height:1.5em;
    background:#F5F5EF;
    border:solid 2px #262626;
}

.palveluteksti {
    margin-bottom: 0px;
    line-height: 2;
}


/* FOOTER */

footer {
    background-color: #B5C1AD;
    margin-bottom: 0px;
    padding: 0px;
    display: flex;

    
}

#footerteksti {
    text-align: right;
    padding: 20px;
    color: #595959;
    font-size: 15px;
}

/* ICONS footer */

.fa {
    color: #595959;
    padding: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 10%;
  }
  
  .fa:hover {
      opacity: 0.4;
  }
  
  .fa-facebook {
    color: #595959;

  }

  .fa-instagram {
    color: #595959;
    
  }

  .fa-envelope-o {
    color: #595959;
    width: 120px;
  }


  /* MOBIILIKOKO */

  @media (max-width: 600px) {

    nav {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #paasivu {
        grid-template-columns: 1fr;
        grid-template-areas:
            'g3'
            'g1'
            'g4'
            'g2';
        margin-bottom: 0px;
    }

    #etusivueka {
        width: 100%;
        height: auto;
        margin: 0px;
    
    }
    
    #etusivutoka {
        width: 60%;
        height: auto;
        display: block;
        margin: 0 auto;
     
    }

    #palvelutsivu {
        grid-template-columns: 1fr;
        grid-template-areas:
        'gp1'
        'gp5'
        'gp2'
        'gp6'
        'gp3'
        'gp7'
        'gp4'
        'gp8';
        margin-bottom: 0px;
    }

    #palvelusivu1 {
        width: 60%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius:30px;
    }
    #palvelusivu2 {
        width: 60%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius:30px;
    }
    #palvelusivu3 {
        width: 60%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius:30px;
    }
    #palvelusivu4 {
        width: 60%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius:30px;
    }

    .grid-palveluteksti1 {
        display: block;
        margin: 0 auto;
        width: 70%;
    }

    .grid-palveluteksti2 {
        display: block;
        margin: 0 auto;
        width: 70%;
    }

    .grid-palveluteksti3 {
        display: block;
        margin: 0 auto;
        width: 70%;
    }

    .grid-palveluteksti4 {
        display: block;
        margin: 0 auto;
        width: 70%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .fa {
        margin-top: 25px;
    }

  }

  /* TABLETTIKOKO */

  @media screen and (min-width: 600px) {

    nav {
        flex-direction: column;
    }

    nav a {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #paasivu {
        grid-template-columns: 1fr;
        grid-template-areas:
            'g3'
            'g1'
            'g4'
            'g2';
        margin-bottom: 0px;
    }

    #etusivueka {
        width: 100%;
        height: auto;
        margin: 0px;
    
    }
    
    #etusivutoka {
        width: 40%;
        height: auto;
        display: block;
        margin: 0 auto;
    }


    #palvelutsivu {
        grid-template-columns: 1fr;
        grid-template-areas:
        'gp1'
        'gp5'
        'gp2'
        'gp6'
        'gp3'
        'gp7'
        'gp4'
        'gp8';
        margin-bottom: 0px;     
    }

    #palvelusivu1 {
        width: 30%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius:30px;
    }
    #palvelusivu2 {
        width: 30%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius:30px;
    }
    #palvelusivu3 {
        width: 30%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius:30px;
    }
    #palvelusivu4 {
        width: 30%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius:30px;
    }

    .grid-palveluteksti1 {
        display: block;
        margin: 0 auto;
        width: 60%;
    }

    .grid-palveluteksti2 {
        display: block;
        margin: 0 auto;
        width: 60%;
    }

    .grid-palveluteksti3 {
        display: block;
        margin: 0 auto;
        width: 60%;
    }

    .grid-palveluteksti4 {
        display: block;
        margin: 0 auto;
        width: 60%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .fa {
        margin-top: 25px;
    }
  }

  /* KONEKOKO */

  @media screen and (min-width: 1200px) {

    nav {
        flex-direction: row;
    }

    nav a {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 8%;
        margin-right: 8%;
        
    }

    #paasivu {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            'g3 g1'
            'g2 g4';
        margin-bottom: 0px;
    }

    #etusivueka {
        width: 100%;
        height: auto;
        margin: 0px;
    
    }
    
    #etusivutoka {
        width: 100%;
        height: auto;
        margin: 0px;
    }

    #palvelutsivu {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        'gp1 gp5 gp5'
        'gp6 gp6 gp2'
        'gp3 gp7 gp7'
        'gp8 gp8 gp4';
        margin-bottom: 0px;
    }

    #palvelusivu1 {
        width: 65%;
        height: auto;
        padding: 10px;
        float: right;
        margin-right: 30px;
        border-radius:30px;
    }

    #palvelusivu2 {
        width: 65%;
        height: auto;
        padding: 10px;
        float: left;
        margin-left: 30px;
        border-radius:30px;
    }

    #palvelusivu3 {
        width: 65%;
        height: auto;
        padding: 10px;
        float: right;
        margin-right: 30px;
        border-radius:30px;
    }

    #palvelusivu4 {
        width: 65%;
        height: auto;
        padding: 10px;
        float: left;
        margin-left: 30px;
        border-radius:30px;
    }

    .grid-palveluteksti1 {
        width: 80%;
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .grid-palveluteksti2 {
        width: 80%;
        margin-right: 0px;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .grid-palveluteksti3 {
        width: 80%;
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .grid-palveluteksti4 {
        width: 80%;
        margin-right: 0px;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .fa {
        margin-top: 0px;
    }
    
  }