/* Taustatyylit */



/* FONTIT, TEKSTIKOOT, yms. */

@font-face {
    font-family: otsikot;
    src: url(ArchitectsDaughter-Regular.ttf);
}
@font-face {
    font-family: leipäteksti;
    src: url(static/Montserrat-Regular.ttf);
}

body {
    font-family: leipäteksti, sans-serif;
    font-size: 18px;
    margin: 0px;
    color: #262626;
    background: #F5F5EF;
}

h1 {
    font-family: otsikot, sans-serif;
    font-size: 70px;
    padding-bottom: 10px;
    margin: 0px;
}

h2 {
    font-family: 'otsikot', sans-serif;
    font-size: 25px;
}


/* HEADER ja NAV BAR*/

header{
    text-align: center;
    padding-top: 15px;
}
    

nav {
    background: #B5C1AD;
    padding: 0px;
    
}

nav a {
    background: #B5C1AD;
    font-family: otsikot, sans-serif;
    font-size: 25px;
    color: #262626;
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 8%;
    margin-right: 8%;
}

nav a:hover {
    background: #F5F5EF;

}

#valittu:hover {
    color: #262626;
}

#valittu {
    color: #F5F5EF; 
     
}

/* KUVAT */

figure {
    margin: 0px;
    
}

/* GRID - PÄÄSIVU */

.grid-teksti1 { 
    grid-area: g1;
    padding: 25px;
    text-align: center;
    

}
.grid-teksti2 { 
    grid-area: g2;
    padding: 25px;
    padding-bottom: 0px;
    text-align: center;

}
.grid-kuva { grid-area: g3;}

.grid-kuva2 { 
    grid-area: g4
    
}

.grid-container {
    display: grid;
    column-gap: 0px;
    row-gap: 0px;
    padding: 0px;
    grid-template-columns: 2fr 1fr;
}


.paateksti {
    margin-bottom: 0px;
    line-height: 2;
   
}

/* GRID - PALVELUTSIVU */


/* FOOTER */

footer {
    background-color: #B5C1AD;
    margin-bottom: 0px;
    padding: 0px;
}

#footerteksti {
    text-align: right;
    padding: 20px;
    color: #595959;
    font-size: 15px;
}

/* ICONS footer */

.fa {
    #color: #595959;
    padding: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 10%;
  }
  
  .fa:hover {
      opacity: 0.4;
  }
  
  .fa-facebook {
    color: #595959;
    border: 2px;
    border-color: #595959;

  }

  .fa-instagram {
    color: #595959;
  }

  .fa-envelope-o {
    color: #595959;
    width: 120px;
  }


  /* MOBIILIKOKO */

  @media (max-width: 600px) {


    .grid-container {
        display: grid;
        column-gap: 0px;
        row-gap: 0px;
        padding: 0px;
        grid-template-columns: 1fr;
    }
    
    #paasivu {
        grid-template-areas:
            'g3'
            'g1'
            'g4'
            'g2';
        margin-bottom: 0px;
    }

    #etusivueka {
        width: 100%;
        height: auto;
        margin: 0px;
    
    }
    
    #etusivutoka {
        width: 60%;
        height: auto;
     
    }
    

  }

  /* TABLETTIKOKO */

  @media screen and (min-width: 600px) {

    .grid-container {
        display: grid;
        column-gap: 0px;
        row-gap: 0px;
        padding: 0px;
        grid-template-columns: 1fr;
    }
    #paasivu {
        grid-template-areas:
            'g3'
            'g1'
            'g4'
            'g2';
        margin-bottom: 0px;
    }
    #etusivueka {
        width: 100%;
        height: auto;
        margin: 0px;
    
    }
    
    #etusivutoka {
        width: 60%;
        height: auto;
        align-content: center;
    }
  }

  /* KONEKOKO */

  @media screen and (min-width: 1200px) {

    .grid-container {
        display: grid;
        column-gap: 0px;
        row-gap: 0px;
        padding: 0px;
        grid-template-columns: 2fr 1fr;
    }
    
    #paasivu {
        grid-template-areas:
            'g3 g1'
            'g2 g4';
        margin-bottom: 0px;
    }

    #etusivueka {
        width: 100%;
        height: auto;
        margin: 0px;
    
    }
    
    #etusivutoka {
        width: 100%;
        height: auto;
    }
    
  }