/* koko sivustoa koskevat tyylit */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h4 {
    font-weight: 100;
}


/* navigaatio tyylit */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    padding: 10px 0;
}

.nav-link {
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 5px;
    flex: 1 1 150px; 
    max-width: 200px;
}

.nav-link:hover {
    background-color: rgb(67, 67, 67);
    color: white;
}

.valittu {
    background-color: rgb(207, 206, 206);
} 


/* main sisältöä */ 

.content {
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
}

.respkuva {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
}

#latausaika {
    opacity: 0.5;
}