nav {
    background: #ffffff;
    display: flex;
    justify-content: center;   
}

nav a {
    background: #ffffff;
    font-family: otsikot, sans-serif;
    font-size: 25px;
    color: #262626;
    text-decoration: none;
    padding-bottom: 2px;
    padding-top: 2px;    
}

nav a:hover {
    background: #373737;
}

#valittu:hover {
    color: #ffffff;
    text-shadow: none;
}

#valittu {
    color: #000000;  
    text-shadow: 0px 0px 3px #cb0d0d;
}

@media (max-width: 600px) {

    nav {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (min-width: 600px) {

    nav {
        flex-direction: column;
    }
}

@media screen and (min-width: 1200px) {

/* KONEKOKO - Nav bar - päävalikko */
    nav {
        flex-direction: row;
    }

    nav a {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 8%;
        margin-right: 8%;   
    }
}